<!--The content below is only a placeholder and can be replaced.-->
<h4 align="center">Insert required details</h4>
<table width="100%">
  <tr>
    <td width="50%" align="right">Insert base URL </td>
    <td width="50%"><input [(ngModel)]="base_url"></td>
  </tr>
  <tr>
    <td align="right">Insert Depth </td>
    <td><input [(ngModel)]="depth"></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="button" value="Submit" (click)="onclick()"></td>
  </tr>
</table>
<span *ngIf="img_urls">
  <div *ngFor="let img_base_url of get_url_keys()">
    <h4>{{ img_base_url }}</h4>
    <span *ngFor="let img_url of img_urls[img_base_url]">
      <img [src]="img_url"><br>
    </span>
  </div>
</span>

